/*clases reutilizables*/

.g-claro {
    background-color: #ece9e2;
}

.g-medio {
    background-color: #a5a1aa;
}

.g-azul {
    background-color: #554d59;
}

.g-oscuro {
    background-color: #32373a;
}

.verde {
    background-color: #8dc63f;
}

.barraverde {
    background-color: #8dc63f;
}

.uva {
    background-color: #a9164a;
}

.t-g-claro {
    color: #ece9e2;
}

.t-g-medio {
    color: #a5a1aa;
}

.t-g-azul {
    color: #5f5a6d;
}

.t-g-oscuro {
    color: #32373a;
}

.t-verde {
    color: #8dc63f;
}

.t-uva {
    color: #a9164a;
}

.bold {
    font-weight: 700;
}

.julius {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 700;
}

.asap-r {
    font-family: 'Asap', sans-serif;
    font-weight: 400;
}

.asap-b {
    font-family: 'Asap', sans-serif;
    font-weight: 700;
}


/*para el documento*/

html {
    font-family: 'Asap', sans-serif;
}

header,
header #cabezal {
    width: 100%;
    position: fixed;
    z-index: 1;
}

.uk-tab>.uk-active>a {
    font-weight: 500;
    color: #333;
    border-color: #8dc63f;
}

header a.menu:hover {
    color: #a81634;
}

#home {
    height: 100vh;
    background-image: url(../assets/imgs/inicio-fondo.jpg);
    background-size: cover;
    background-position: center;
}

#yop:hover {
    cursor: pointer;
}

#conocimientos,
#proyectos,
#contacto {
    padding-top: 15vh;
    padding-bottom: 6vh;
}

#herramientas {
    padding: 0 7vh;
}

#proyectos img {
    width: 100%;
}

#proyectos a:hover {
    text-decoration: none;
    color: #8dc63f;
}

#contacto a {
	 margin: 0 2rem;
    padding: 0;
}

#contacto a:hover {
    color: #8dc63f;
}
