/*clases reutilizables*/

.g-claro {
    background-color: #ece9e2;
}

.g-medio {
    background-color: #a5a1aa;
}

.g-azul {
    background-color: #554d59;
}

.g-oscuro {
    background-color: #32373a;
}

.verde {
    background-color: #8dc63f;
}

.barraverde {
    background-color: #8dc63f;
}

.uva {
    background-color: #a9164a;
}

.t-g-claro {
    color: #ece9e2;
}

.t-g-medio {
    color: #a5a1aa;
}

.t-g-azul {
    color: #5f5a6d;
}

.t-g-oscuro {
    color: #32373a;
}

.t-verde {
    color: #8dc63f;
}

.t-uva {
    color: #a9164a;
}

.bold {
    font-weight: 700;
}

.julius {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 700;
}

.asap-r {
    font-family: 'Asap', sans-serif;
    font-weight: 400;
}

.asap-b {
    font-family: 'Asap', sans-serif;
    font-weight: 700;
}

.m-lateral {
    margin: o 2rem;
}


/*para el documento*/

html {
    font-family: 'Asap', sans-serif;
}

header,
header #cabezal {
    width: 100%;
    position: fixed;
    z-index: 1;
}

.uk-navbar-nav>li:hover>a,
.uk-navbar-nav>li>a.uk-open,
.uk-navbar-nav>li>a:focus {
    color: #a9164a;
}

.uk-tab>.uk-active>a {
    font-weight: 500;
    color: #333;
    border-color: #8dc63f;
}

header a.menu:hover {
    color: #a81634;
}

#home {
    min-height: 100vh;
    background-image: url(../assets/imgs/inicio-fondo.jpg);
    background-size: cover;
    background-position: center;
}

h2.uk-margin-remove.t-g-azul.julius {
    letter-spacing: .25vw;
}

#yop {
    -webkit-animation-iteration-count: 3;
    -moz-animation-iteration-count: 3;
    -o-animation-iteration-count: 3;
    -ms-animation-iteration-count: 3;
}

#yop p {
    background-color: rgba(255, 255, 255, 0.40);
}

#conocimientos,
#proyectos,
#diseno,
#contacto {
    padding-top: 15vh;
    padding-bottom: 6vh;
}

#herramientas {
    padding: 0 7vh;
}

#proyectos img {
    width: 100%;
}

#proyectos a:hover {
    text-decoration: none;
    color: #8dc63f;
}

#diseno>.uk-heading-line>:after,
#diseno>.uk-heading-line>:before {
    border-bottom: 1px solid #a5a1aa;
}

#contacto .mi-nombre {
    padding-top: 1rem;
}

#contacto a:hover {
    color: #8dc63f;
}

.img-responsive{
    width: 100% !important;
    height: auto;
}

@media (min-width:0px) and (max-width:639px) {
    #home {
        padding-top: 3rem;
    }
    #nombre {
        font-size: 2.5rem
    }
    #profesion {
        font-size: 1.5rem
    }
    div.icono-xs {
        width: 50%;
    }
}


/*----***************************************************************    MIN-WIDTH 320    ************----*/

@media only screen and (min-width: 320px) {
     img#mifoto.uk-border-circle {
        width: 70%;
        height: auto;
    }
}


/*----***************************************************************    MIN-WIDTH 480    ************----*/

@media only screen and (min-width: 480px) {}


/*----***************************************************************    MIN-WIDTH 768    ************----*/

@media only screen and (min-width: 768px) {
    img#mifoto.uk-border-circle {
        width: 35%;
        
    }
}


/*----***************************************************************    MIN-WIDTH 992    ************----*/

@media only screen and (min-width: 992px) {}


/*----***************************************************************    MIN-WIDTH 1200    ************----*/

@media only screen and (min-width: 1200px) {}


/*----***************************************************************    MIN-WIDTH 1550    ************----*/

@media only screen and (min-width: 1550px) {}
